/*mobile first*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*tablet*/
.App {
  text-align: center;
  font-family: 'Lato', sans-serif;
}
header {
  display:flex;
  color: white;
  background-color: #43E895;
  font-size: 25px;
  width: 100%;
  height: 60px;
  padding-top: .5%;
	padding-bottom: .5%;
}
.titleOfApp h1 {
  flex-basis: 80%;
}
.buttonAndLabel {
	padding-top: 5px;
  flex-grow: 1;
  font-size:10px;
}
footer {
  display:flex;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #2A2A2A;
  color: white;
}
.lunchButton, .internetsButton{
  height: 30px;
  width: 30px;
}
.map {
  height: 50px;
  width: 50px;
}
ul{
  display:flex;
  flex-wrap: wrap;
  align-content: center;
  width: 100%;
  padding: 0%;
  margin: 0%;
}
.fullItem{
  color: white;
  position: relative;
  padding:0%;
  width: 50%;
}
li img {
  width: 100%;
  height: 100%;
}
.gradient{
	width: 100%;
	 z-index: 1;
	 position: absolute;
}
.mainContent{
  width: 100%;
  height: 888px;
  overflow: scroll;
}
.wordContainer {
	position: absolute;
	top: 170px;
	display:flex;
	flex-direction: column;
	align-content: flex-start;
	padding-left: 12px;
}
.itemTierOne {
	align-self: flex-start;
	 font-weight: 700;
	 font-size: 16px;
	 z-index: 2;
	 padding-bottom: 6px;
}
.itemTierTwo {
	align-self: flex-start;
  font-size: 12px;
	 z-index: 2;
}
.active {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: white;
  transition: 0.10s;
}
.active div {
		text-align: left;
    text-decoration: none;
    font-size: 15px;
    display: block;
    transition: 0.5s;
		padding-left: 12px;
}
.infoHeader{
	display:flex;
	flex-flow: row;
	background-color: #43E895;
	height: 60px;
}
.infoHeader img {
	padding-top: 10px;
	height: 30px;
	width: 30px;
	flex-grow: 1;
}
.infoHeader h2 {
	display: inline;
	font-weight: 700;
	color: #FFFFFF;
	font-size: 17px;
	padding: 0px 80px 26px 80px;
}
.mapBtn {
	padding-top: 10px;
	height: 40px;
	width: 40px;
}
iframe {
	  padding: 0px;
		margin: 0px;
		width: 385px;
}
.active .title {
	background-color: #34B379;
	font-weight: 700;
	width: 97%;
	padding: 16px 0px 6px 12px;
	color: #FFFFFF;
}
.titleTwo {
	color: #FFFFFF;
	font-weight: 400;
	padding: 0px 0px 16px 0px;
	background-color: #34B379;
	width: 97%;
}
.titleThree {
	font-weight: 400;
	padding: 16px 0px 26px 12px;
	color: #2A2A2A;
}
.titleFive {
	font-weight: 400;
	padding: 0px 0px 26px 12px;
	color: #2A2A2A;
}
.active .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 40px;
    margin-left: 10px;
}
.inactive{
	display: none;
}



/* iPad Pro+ */
@media (min-width: 769px) {
  .absolute{
    height: 1160px;
    overflow: scroll;
  }
  header {
		padding-top: 0px;
		padding-bottom: 10px;
    font-size: 3em;
    height: 85px;
  }
	footer {
	  height: 85px;
	}
	.mapBtn {
		height: 60px;
		width: 60px;
	}
	.wordContainer {
		top: 190px;
		padding-left: 16px;
	}
	.itemTierOne {
		 font-size: 25px;
	}
	.itemTierTwo {
	  font-size: 18px;
	}
	.buttonAndLabel {
	  font-size:16px;
	}
	.lunchButton, .internetsButton{
	  height: 40px;
	  width: 40px;
	}
	.mainContent{
	  height: 1185px;
	}
}



/*monitor*/
@media (min-width: 1200px) {
  footer {
    display:none;
  }
	.absolute{
		height: 1160px;
		overflow: auto;
	}
	header {
		padding-top: 0px;
		padding-bottom: 10px;
		font-size: 3em;
		height: 85px;
	}
	footer {
		background-color: red;
	}
	.mapBtn {
		height: 60px;
		width: 60px;
	}
	.wordContainer {
		top: 370px;
		padding-left: 20px;
	}
	.itemTierOne {
		 font-size: 30px;
	}
	.itemTierTwo {
		font-size: 20px;
	}
	iframe {
		width: 840px;
		height: 300px;
	}
	.active .title {
		font-size: 25px;
		width: 98%;
		padding: 16px 0px 6px 14px;
	}
	.titleTwo {
		padding-left: 20px;
		font-size: 20px;
		width: 98%;
	}
	.titleThree {
		padding: 16px 0px 26px 20px;
	}
	.titleFive {
		padding: 0px 0px 26px 20px;
	}
	.active .closebtn {
	    position: absolute;
	    top: 0;
	    right: 50px;
	    font-size: 40px;
	    margin-left: 20px;
	}
	.mapBtn {
		padding-left: 50px;
		height: 60px;
		width: 60px;
	}
}
